@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

@theme {
  --font-manrope: "Manrope", sans-serif;
  --color-green: #357a38;
  --color-black: #000000;
  --color-blacklight: #3a3a3a;
  --color-grayblack: #3b3b3b;
  --color-gray: #949494;
  --color-graylight: #e3ede4;
  --color-white: #ffffff;
  --color-yellow: "#FAC02D";
  --color-danger: #ff0000;
}
body {
  font-family: var(--font-manrope);
}

.active-nav-item {
  text-decoration: none;
  position: relative;
  color: var(--color-black);
}

.active-nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: var(--color-green);
  transition: all 0.3s ease;
}
